/* Coolors Exported Palette - coolors.co/9895bc-4f4d69-5c6d75-9ca9c0-313644 */

/* HSL */
$color1: hsla(245%, 23%, 66%, 1); /*Manatee: Light Purple*/
$color2: hsla(244%, 15%, 36%, 1); /*Independence: Dark Purple*/
$color3: hsla(199%, 12%, 41%, 1); /*Cadet: Green*/
$color4: hsla(218%, 22%, 68%, 1); /*Wild Blue Yonder: Light Grey*/
$color5: hsla(224%, 16%, 23%, 1); /*Onyx: Dark Blue*/

/* RGB */
$color1: rgba(152, 149, 188, 1);
$color2: rgba(79, 77, 105, 1);
$color3: rgba(92, 109, 117, 1);
$color4: rgba(156, 169, 192, 1);
$color5: rgba(49, 54, 68, 1);